<a href="https://colab.research.google.com/github/S-Soluel/CS_167_Colab_Files/blob/Notefiles/Sam_Day1_Part02_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Colab Tutorial
Jan 3rd, 2023

You can run Python code in Colab. Use the short cut `shift +return`

Markdown basics:
- **bold text** or __bold text__
- *italicized*, _italicized_
- `typewriter text`
- [link name](insert link url)
  - Look a new level of indentation
- Can use Markdown Table generator to make tables easily

---

In [ ]:
x = 3 + 2
x # don't have to do print(x), it'll automatically return the last line. If you don't want to print the last line, can put a semicolon at the end of code sections.

5

## Python Lab | Review
Note that each exercise in the code should be put in a separate cell.

Exercise 1
---

In [ ]:
a=10
b=3.14
c = "machine learning"
d = 'hi'
e = 'x'
f = [1,2,3]
# I feel like this is a trick, but should print all a, b, c, d, e, and f in that order
# The trick is that I feel as if f is going to contain a, b, and c. 
# Let's find out.

# Update: it was a trick in a different way than I thought. 
# Much simpler, just had a list containing 1, 2, and 3. (Or maybe a tuple, might need to refresh on syntax)
print(a,b,c,d,e,f)

10 3.14 machine learning hi x [1, 2, 3]

Exercise 2
---

In [ ]:
print("a's type:", type(a))
a = 'variables can change types'
print("a's type:", type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

a's type: <class 'int'>
a's type: <class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>

Exercise 3
---

Outcome should be 'abc', 2, 3. Aka, y[0] is 'abc'.

In [ ]:
x = [1,2,3] 
y=x
x[0] = "abc" 
print(y) 
#before you run, what will the value of y[0] be?

['abc', 2, 3]

Exercise 4
---
Output prediction:
z = x[1] should be 2. Print(x) should give us "what", and print(z) should give 2. 

Unsure what x.append does, but feels like it should be similar to 'updating' a value, while x.insert feels as if it should insert a new value into the list.

Output info: forgot that x was a list, so it prints something different. 
x.append adds a value at the end of the list, while x.insert adds a new value at the specified index of the list.

In [ ]:
z = x[1]
x[1] = "what"
print(x)
print(z)
x.append(70)
x.insert(2,90)
print(x)
#can you predict what will be output?

['abc', 'what', 3]
2
['abc', 'what', 90, 3, 70]

Exercise 5
---
I think this should print 2, then print 5, and finally print a list that includes all the values from x+x. (So basically the values will all occur twice.

Answer: Was correct in this case.

In [ ]:
print( x.index(90) )
print( len(x) )
print( x+x )
#can you predict what will be output?

2
5
['abc', 'what', 90, 3, 70, 'abc', 'what', 90, 3, 70]

Exercise 6
---
For the first print statement, it will print everything with an index of 1-5. Second print statement will get everything up to and including 4. Third will print all elements with indices 4+, and 5 makes me think it'll print everything. 

Outcome: Everything was *almost* right. for the my_list[1:5] it does not print what is in index 5.

In [ ]:
#List Slices 

my_list = [33, 55, 'hello','R2D2',7.8,'banana']
print( my_list[1:5] )
print( my_list[:4])
print( my_list[4:])
print( my_list[:])

[55, 'hello', 'R2D2', 7.8]
[33, 55, 'hello', 'R2D2']
[7.8, 'banana']
[33, 55, 'hello', 'R2D2', 7.8, 'banana']

Exercise 7
---
'Drake' and 'University' weren't printed from my_list because the print statement they are in earlier did not truly 'add' them to the list. It simply printed them with the element.

In [ ]:
my_slice = my_list[1:5]
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University'])
my_list[:0] = ['Bulldogs']
print(my_list)
# why isn't "Drake" or "University" printed out in this last line?

[55, 'hello', 'what', 7.8]
[33, 55, 'hello', 'R2D2', 7.8, 'banana']
[55, 'hello', 'R2D2', 7.8, 'Drake', 'University', 'Drake', 'University']
['Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']

Exercise 8
---
`print(my_list[2][1])` tries to print out 'hello', but `[1]` specifies that it should only print out 'e'.

In [ ]:
my_list = [42, 3.14, 'hello', ['ice', 'ice', 'baby']]
print(my_list[3][2])
print(my_list[2][1])
# wait, what? 
# explain what is happening here

baby
e

Exercise 9
---

In [ ]:
# In Python, a tuple is a collection which is ordered and unchangeable. 
# In Python tuples are written with round brackets.

my_tuple = (100,200,'300')
print(my_tuple[1])
my_dictionary = {'x':42, 'y':3.14}
print(my_dictionary['x'])

200
42

Exercise 10
---
1. For the first error, the issue is that we are trying to access an element with index = 2, when there is none for the first element in `my_list`.

2. A tuple cannot be changed. 

3. There is no `my_dictionary[1]` that was mapped to.

In [ ]:
# Each of these lines will cause an error. 
# Can you describe why before running them one at a time?

print(my_list[1][2])
my_tuple[1] = 0
print(my_dictionary[1])

NameError: ignored

Exercise 11
---
This cell utilizes if and for loops in order to eventually print out whether a number given is negative, positive and odd, or even and nonnegative.

In [ ]:
# If statements and for loops
x = int(input())
if x < 0:
    print("x is negative")
elif x % 2:
    print("x is positive and odd")
else:
    print("x is even and nonnegative")

num_list = [3, 7, 9,17, 2]
for num in num_list:
    print(num)

print(range(10,20))
for n in range(10,20):
    print(n)

KeyboardInterrupt: ignored

Exercise 12
---

In [ ]:
# iterating Through Data
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
# method 1
for element in my_data:
    print(element)

# method 2
for idx in range(len(my_data)):
    print(my_data[idx])

5.3
3.2
4.1
5.9
6.7
3.5
5.3
3.2
4.1
5.9
6.7
3.5

Exercise 13
---
Lots of issues in how we try finding the length of the list, and there are also some issues with specifying the range in general.

In [ ]:
# Explain why these won't work:
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
for i in my_data:
    print( my_data[i] )

for i in range(len(my_data)):
    print( i )

for i in range(my_data):
    print( my_data[i] )

TypeError: ignored

# Panda Exploration
---

Import pandas to Jupyter Notebook
---

In [ ]:
import pandas

import pandas as pd
# The first step is to mount your Google Drive to your Colab account. 
#You will be asked to authorize Colab to access your Google Drive. Follow the steps they lead you throuh.

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Exercise 14
---
Load in data from Google Drive

In [ ]:
#Download the restaurant data (it's in Blackboard under 'datasets'), and put it in your Google Drive. Make a note of the path
#I would suggest creating a datasets folder somewhere easy to get to, we'll be using this a lot.
# your path will look like '/content/drive/MyDrive/....wherever you put the data'

#change the following line so that it points to where you put restaurant.csv.
data = pd.read_csv('/content/drive/MyDrive/JTerm2023/datasets/restaurant.csv')
data.head()

   alt  bar  fri  hun   pat price rain  res    type    est target
0  Yes   No   No  Yes  Some   $$$   No  Yes  French   0-10    Yes
1  Yes   No   No  Yes  Full     $   No   No    Thai  30-60     No
2   No  Yes   No   No  Some     $   No   No  Burger   0-10    Yes
3  Yes   No  Yes  Yes  Full     $   No   No    Thai  10-30    Yes
4  Yes   No  Yes   No  Full   $$$   No  Yes  French    >60     No

Exercise 15
---

In [ ]:
print(data['price'])

0     $$$
1       $
2       $
3       $
4     $$$
5      $$
6       $
7      $$
8       $
9     $$$
10      $
11      $
Name: price, dtype: object

In [ ]:
print(data.loc[3])

alt         Yes
bar          No
fri         Yes
hun         Yes
pat        Full
price         $
rain         No
res          No
type       Thai
est       10-30
target      Yes
Name: 3, dtype: object

In [ ]:
print(data.loc[3, 'type'])

Thai

In [ ]:

print(data.loc[3, 'rain'])

#####

print(data.iloc[3,8])

#####

print(data.iloc[3][8])

#####

print(data.iloc[3])

#####

print(data['est'])

#####

data.loc[5]

#####

print(type(data))
print(type(data['est']))
print(type(data.loc[0]))
print(type(data.iloc[3,8]))

No
Thai
Thai
alt         Yes
bar          No
fri         Yes
hun         Yes
pat        Full
price         $
rain         No
res          No
type       Thai
est       10-30
target      Yes
Name: 3, dtype: object
0      0-10
1     30-60
2      0-10
3     10-30
4       >60
5      0-10
6      0-10
7      0-10
8       >60
9     10-30
10     0-10
11    30-60
Name: est, dtype: object
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'str'>

Exercise 16: Load in 2nd Dataset
---

In [ ]:
data1 = pd.read_csv('/content/drive/MyDrive/JTerm2023/datasets/irisData.csv')
data1.head()

#####

type(data1['sepal length'].loc[0])

#####

data.iloc[3:6, 4:8]

#####

print(data['rain'].iloc[4])

#####

print(data['type']=='Thai')

#####

print(data[ data['type'] == 'Thai'])

No
0     False
1      True
2     False
3      True
4     False
5     False
6     False
7      True
8     False
9     False
10     True
11    False
Name: type, dtype: bool
    alt bar  fri  hun   pat price rain  res  type    est target
1   Yes  No   No  Yes  Full     $   No   No  Thai  30-60     No
3   Yes  No  Yes  Yes  Full     $   No   No  Thai  10-30    Yes
7    No  No   No  Yes  Some    $$  Yes  Yes  Thai   0-10    Yes
10   No  No   No   No  None     $   No   No  Thai   0-10     No

Lastly...
---
#### All done? Here are some Exercises you can work on:

Using the restaurant data:
- print out all examples of Italian restaurants
- print out all examples where the estimated wait time is 0-10 minutes
- print out all examples at Thai restaurants where there is no alternative available. 
	- Hint, see if you can Google how to do selection in a Pandas dataframe using and/or (we'll cover this tomorrow)

Using the Iris Data:
- Print the Sets examples
- Print examples with petal length greater than 6.