<a href="https://colab.research.google.com/github/S-Soluel/CS_167_Colab_Files/blob/main/Sam_Day1_Part02_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Colab Tutorial
Jan 3rd, 2023

You can run Python code in Colab. Use the short cut `shift +return`

Markdown basics:
- **bold text** or __bold text__
- *italicized*, _italicized_
- `typewriter text`
- [link name](insert link url)
  - Look a new level of indentation
- Can use Markdown Table generator to make tables easily

---

In [3]:
x = 3 + 2
x # don't have to do print(x), it'll automatically return the last line. If you don't want to print the last line, can put a semicolon at the end of code sections.

5

## Python Lab | Review
Note that each exercise in the code should be put in a separate cell.

Exercise 1
---

In [10]:
a=10
b=3.14
c = "machine learning"
d = 'hi'
e = 'x'
f = [1,2,3]
# I feel like this is a trick, but should print all a, b, c, d, e, and f in that order
# The trick is that I feel as if f is going to contain a, b, and c. 
# Let's find out.

# Update: it was a trick in a different way than I thought. 
# Much simpler, just had a list containing 1, 2, and 3. (Or maybe a tuple, might need to refresh on syntax)
print(a,b,c,d,e,f)

10 3.14 machine learning hi x [1, 2, 3]

Exercise 2
---

In [8]:
print("a's type:", type(a))
a = 'variables can change types'
print("a's type:", type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

a's type: <class 'int'>
a's type: <class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>

Exercise 3
---

Outcome should be 'abc', 2, 3. Aka, y[0] is 'abc'.

In [11]:
x = [1,2,3] 
y=x
x[0] = "abc" 
print(y) 
#before you run, what will the value of y[0] be?

['abc', 2, 3]

Exercise 4
---
Output prediction:
z = x[1] should be 2. Print(x) should give us "what", and print(z) should give 2. 

Unsure what x.append does, but feels like it should be similar to 'updating' a value, while x.insert feels as if it should insert a new value into the list.

Output info: forgot that x was a list, so it prints something different. 
x.append adds a value at the end of the list, while x.insert adds a new value at the specified index of the list.

In [12]:
z = x[1]
x[1] = "what"
print(x)
print(z)
x.append(70)
x.insert(2,90)
print(x)
#can you predict what will be output?

['abc', 'what', 3]
2
['abc', 'what', 90, 3, 70]

Exercise 5
---
I think this should print 2, then print 5, and finally print a list that includes all the values from x+x. (So basically the values will all occur twice.

Answer: Was correct in this case.

In [13]:
print( x.index(90) )
print( len(x) )
print( x+x )
#can you predict what will be output?

2
5
['abc', 'what', 90, 3, 70, 'abc', 'what', 90, 3, 70]

Exercise 6
---
For the first print statement, it will print everything with an index of 1-5. Second print statement will get everything up to and including 4. Third will print all elements with indices 4+, and 5 makes me think it'll print everything. 

Outcome: Everything was *almost* right. for the my_list[1:5] it does not print what is in index 5.

In [14]:
#List Slices 

my_list = [33, 55, 'hello','R2D2',7.8,'banana']
print( my_list[1:5] )
print( my_list[:4])
print( my_list[4:])
print( my_list[:])

[55, 'hello', 'R2D2', 7.8]
[33, 55, 'hello', 'R2D2']
[7.8, 'banana']
[33, 55, 'hello', 'R2D2', 7.8, 'banana']

Exercise 7
---
'Drake' and 'University' weren't printed from my_list because the print statement they are in earlier did not truly 'add' them to the list. It simply printed them with the element.

In [15]:
my_slice = my_list[1:5]
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University'])
my_list[:0] = ['Bulldogs']
print(my_list)
# why isn't "Drake" or "University" printed out in this last line?

[55, 'hello', 'what', 7.8]
[33, 55, 'hello', 'R2D2', 7.8, 'banana']
[55, 'hello', 'R2D2', 7.8, 'Drake', 'University', 'Drake', 'University']
['Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']

Exercise 8
---
`print(my_list[2][1])` tries to print out 'hello', but `[1]` specifies that it should only print out 'e'.

In [16]:
my_list = [42, 3.14, 'hello', ['ice', 'ice', 'baby']]
print(my_list[3][2])
print(my_list[2][1])
# wait, what? 
# explain what is happening here

baby
e